{% extends 'base.html' %}

{% block title %}
Mask Detection
{% endblock %}

{% block body %} 

<div class="jumbotron bg-cover text-white" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.6) 100%), url(https://media.istockphoto.com/vectors/medical-mask-vector-icon-neon-style-for-graphic-design-logo-web-site-vector-id1202910451?k=6&m=1202910451&s=170667a&w=0&h=kIFHu0UKNAETyyX968kEEdONh-vAiWSmpg63Tc1kbsg=) ; width : 100%;">
    <br>
    <br>
    <br>
    <br>
    <div class="bg text-center"></div>
        <!--Div for Centered Text & Input-->
        <div class="centered">
            <p class="firstLine" style="font-size:50px ; text-align: center;"> C &nbsp; H &nbsp; E &nbsp; C &nbsp; K &nbsp; . &nbsp; M &nbsp; A &nbsp; S &nbsp; K &nbsp; . &nbsp; U &nbsp; S &nbsp; A &nbsp; G &nbsp; E </p>
            <br>
            <p class="secondLine" style="font-size:40px ; text-align: center;">Are You Wearing a MASK?</p>
            <br>
            <br>
        <form method='post' enctype='multipart/form-data' style="font-family:Arial;font-size:30px ; margin: 0 auto; width : 250px;">
            <p style = "font-size:20px"><input type='file' name='image'></p>
            <br>
            <input type='submit' value='Upload' style="font-size:25px; background-color:coral; width : 250px;">
            <br>
            <br>
        </form>
        <h3 style = "text-align: center;">Prediction : {{pred}}</h3>
        </div>
        <br>
    </div>
    <br>
    <br>
  </div>
{% endblock %}